/* Lens Base styles */
@import 'node_modules/lens/article/nodes/text/text';
@import 'node_modules/lens/article/nodes/paragraph/paragraph';
@import 'node_modules/lens/article/nodes/heading/heading';
@import 'node_modules/lens/article/nodes/list/list';
@import 'node_modules/lens/article/nodes/image/image';
@import 'node_modules/lens/article/nodes/codeblock/codeblock';
@import 'node_modules/lens/article/nodes/cover/cover';
@import 'node_modules/lens/article/nodes/supplement/supplement';
@import 'node_modules/lens/article/nodes/box/box';
@import 'node_modules/lens/article/nodes/citation/citation';
@import 'node_modules/lens/article/nodes/definition/definition';
@import 'node_modules/lens/article/nodes/figure/figure';
@import 'node_modules/lens/article/nodes/html_table/html_table';
@import 'node_modules/lens/article/nodes/video/video';
@import 'node_modules/lens/article/nodes/caption/caption';
@import 'node_modules/lens/article/nodes/contributor/contributor';
@import 'node_modules/lens/article/nodes/publication_info/publication_info';
@import 'node_modules/lens/styles/surface';
@import 'node_modules/lens/styles/reader';
@import 'node_modules/lens/styles/lens';

// Custom styles

.altmetrics-panel .altmetrics {
  padding: 20px;
}

@import 'src/styles/variables';
@import 'src/styles/typography';

@import 'src/styles/menu';
@import 'src/styles/node-abstracts';
@import 'src/styles/node-citations';
@import 'src/styles/node-content';
@import 'src/styles/node-figures';
@import 'src/styles/node-supplements';
@import 'src/styles/node-extrafeatures';
@import 'src/styles/node-footnotes';
@import 'src/styles/node-info-meta';
@import 'src/styles/nodes';
@import 'src/styles/layout';

@import 'src/nodes/cover/cover';

@import 'src/styles/responsive';

.surface-scrollbar .visible-area {
  background-color: rgba(63, 63, 63, .3);
}

.cover-image {
  width: auto;
  max-width: 100%;
  height: auto;
}

