body.reader #main {
  margin-top: 50px;
  height: calc( 100% - 50px );
}

.article .document {
  width: 53%;
  .surface.content {
    width: 90%;

  }
  .scrollbar-cover {
    width: 10%;
    background-color: $gray-lighter;
    .central-bar-preview {
      background-color: $white;
      width: 100%;
      max-height: 50px;
      text-align: center;
      a:hover {
        background: none;
      }
    }
    .central-bar-preview.selected {
      border-top: 2px solid $primary
    }
  }
}

.article .resources {
  width: 47%;
  margin-top: -50px;
  height: calc( 100% + 50px );
}