.menu-bar {
  background-color: $primary;
  border-bottom: none;
  height: 50px;
  background-image: url(2nd_logo.png);
  background-repeat: no-repeat;
  background-position: bottom right; 
  .context-toggles a{
    font-family: 'Noto Sans SemBd', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: $gray-light;
    border-right: none;
    margin-top: 26px;
    i {
      display: none;
    }
    &.active {
      background: $gray-dark;
      color: $gray-light;
      border-bottom: none;
      box-shadow: 4px 4px 8px 0px rgba(0,0,0,.4);
    }
  }
}