.menu-bar {
  background-color: $primary;
  border-bottom: none;
  height: $top-bar-height;
  // background-image: url(2nd_logo.png);
  // background-repeat: no-repeat;
  // background-position: bottom right;
  // background-size: contain;
  .context-toggles a{
    font-family: 'Noto Sans SemBd', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: $gray-light;
    border-right: none;
    margin-top: 58px;
    @media only screen and (max-width: 1475px) and (min-width: 1200px) {
      padding-left: 5px;
      padding-right: 5px;
    }
    i {
      display: none;
    }
    &.active {
      background: $gray-dark;
      color: $gray-light;
      border-bottom: none;
      box-shadow: 4px 4px 8px 0px rgba(0,0,0,.4);
    }
  }
}

.menu-bar-logo-container {
  display: inline;
}

.menu-bar-logo {
  height: 100%;
  position: absolute;
  right: 5px;
}