.article .resources .nodes > .content-node.extrafeature {
  color: $white;
  margin-top: 100px;
  font-size: $panel-text-size;
  .resource-header {
    background-color: $gray-dark;
    padding-top: 0;
    .name, .toggle {
      font-family: 'Noto Sans SemBd', sans-serif;
      font-weight: 600;
      color: $white;
      line-height: 21px;
      min-height: 21px;
      font-size: 12px;
    }
    .toggle:hover {
      background: none;
      text-decoration: underline;
    }
  }
  .image-wrapper {
    padding: 0;
    a:hover {
      background: none;
    }
    img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }
  .content {
    padding: 0;
  }
}
.article .resources .extrafeatures .content-node.extrafeature.highlighted {
  border-left: 0px;
  font-weight: bold;
  .resource-header {
    background-color: $secondary;
  }
}

.extrafeatures-link .external{
  color: $white;
  padding-left: 10%;
}
.highlighted .extrafeatures-link .external{
  font-weight: bold;
}

.extrafeature-link .external{
  color: $white;
}
.highlighted .extrafeature-link .external{
  font-weight: bold;
}


.article .resources .extrafeatures .content-node.fullscreen .resource-header .toggle.toggle-fullscreen, .article .resources .math .content-node.fullscreen .resource-header .toggle.toggle-fullscreen,
.article .resources .extrafeatures .content-node.highlighted .resource-header .toggle.toggle-res, .article .resources .math .content-node.highlighted .resource-header .toggle.toggle-res {
  color: $white;
}



.content-node .extrafeature_reference.highlighted { 
  background-color: $secondary-light;
}

.content-node .extrafeature_reference {
  font-family: 'Noto Serif Lt', serif;
  font-weight: 300;
  background: none;
  color: $secondary;
  border-bottom: 1px solid $secondary;
  padding-right: 3px;
  padding-left: 3px;
}

a.extrafeature_preview_link {
  width: 100%;
  height: 50px;
  overflow: hidden;
  display: block;
  line-height: 0;
}

.extrafeature-image {
  width: 100%;
}


.extrafeature-title,
.extrafeature-subtitle,
.extrafeature-location,
.extrafeature-link {
  font-family: 'Noto Sans Lt', sans-serif;
  padding-left: 20px
}
.extrafeature-title {
  margin-top: 7px;
}

.lens-article .content-node.caption > .content > .content-node.paragraph {
  padding-bottom: 0px;
}

.panel.extrafeatures.resource-view .nodes:last-child {
  padding-bottom: 40px
}


.extrafeatures_heading {
  font-family: 'Noto Sans Med', sans-serif;
  font-weight: 300;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  font-style: italic;
  font-size: 14px;
  color: #d2cfc9;
}