.annotation.abstract-title {
  color: $primary;
  font-size: 16px;
}

.annotation.abstract-subtitle {
  color: $primary;
  font-size: 16px;
}

.annotation.abstract-author {
  font-size: 16px;
}

.annotation.abstract-text {
  font-size: 16px;
}