.resource-view.toc .heading-ref {
  font-family: 'Noto Sans Med', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $gray-content-heading;
  > :before {
    content: "\003E";
    color: transparent;
    margin-right: 5px;
  }
  &.active {
    color: $white;
    background: none;
    border: 1px solid transparent;
    > :before {
      color: $primary;
    }
  }
}

.resource-view.toc .heading-ref.level-1 {

}

.resource-view.toc .heading-ref.level-2 {
  padding-left: 10px;
  font-size: 16px;
}

.resource-view.toc .heading-ref.level-3 {
  font-family: 'Noto Sans Lt', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  padding-left: 20px;
}
.resource-view.toc .heading-ref.level-4 {
  font-family: 'Noto Sans Lt', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  padding-left: 30px;
}

.resource-view.toc .heading-ref a {
  color: $primary-dark;
  &:hover {
    color: $white;
    background-color: $primary-dark;
  }
}

