.mobile-menu, .tablet-menu {
  display: none
}
@media only screen and (max-width: 1199px) {
  body.reader #container {
    min-width: auto;
  }
  .lens-article .content-node.cover .title {
    text-align: left;
  }
  .tablet-menu {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20000;
    height: $top-bar-height;
    width: $top-bar-height;
    background: $primary;
    .hamburg { 
      display: block;
      width: $top-bar-height;
      height: $top-bar-height;
      position: relative; 
      margin-left: auto; margin-right: auto;
      transition: border-radius .5s;
    }
    .line { 
      position: absolute; 
      right:16px;
      height: 4px;
      width: 40px;
      background: $white; border-radius: 2px;
      display: block; 
      transition: 0.5s; 
      transform-origin: center; 
    }
    
    .line:nth-child(1) { top: 25px; }
    .line:nth-child(2) { top: 39px; }
    .line:nth-child(3) { top: 53px; }
    
    &.active .hamburg .line:nth-child(1){
      transform: translateY(14px) rotate(-45deg);
    }
    
    &.active .hamburg .line:nth-child(2){
      opacity:0;
    }
    
    &.active .hamburg .line:nth-child(3){
      transform: translateY(-13px) rotate(45deg);
    }
  }
  .menu-bar {
    overflow: initial;
    .context-toggles {
      position: fixed;
      background-color: $primary-light;
      width: 47%;
      padding: 2%;
      transition: 0.5s;
      right: -60%;
      &.active {
        right:0;
        overflow-y: scroll;
        a.active {
          background: none;
          color: $gray-light;
          text-decoration: underline;
          box-shadow: none;
        }
      }
      a {
        width: 100%;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 24px;
        margin-top: 0;
      }
    }
  }
}
@media only screen and (max-width: 1199px) and (min-width: 768px) {
  .menu-bar {
    .context-toggles {
      margin-top: 82px;
    }
  }
  .menu-bar .context-toggles a{
    width: 48%;
  }
  
  .menu-bar .context-toggles:not(.active) a.active {
    position: fixed;
    left: calc(53% + 16px);
    top: 59px;
    width: auto;
    font-size: 14px;
    line-height: 24px;
    box-shadow: none;
  }
}
@media only screen and (max-width: 767px) {
  .article .document, .topbar {
    width: 100%;
  }
  .topbar {
    height: $top-bar-mobile-height;
  }
  body.reader #main {
    margin-top: $top-bar-mobile-height;
    height: calc(100% - #{$top-bar-mobile-height});
  }
  .article .resources {
    position: absolute;
    left: 100%;
    width: 100%;
    margin-top: 0;
    transition: 0.5s;
    z-index: 4001;
    &.active {
      left: 0;
      right: 0;
      .menu-bar .context-toggles:not(.active) a.active {
        position: fixed;
        left: 16px;
        top: 56px;
        width: auto;
        font-size: 14px;
        line-height: 24px;
        box-shadow: none;
      }
    }
    .panel {
      border-top: 24px solid $primary;
    }
    .nodes > .content-node.figure {
      margin-top: 3rem;
    }
  }
  .menu-bar {
    height: 0;
    .context-toggles {
      width: 60%;
      height: calc(100% - #{$top-bar-mobile-height});
    }
  }
  .article .resources {
    height: 100%;
    .panel {
      top:0;
    }
  }
  .tablet-menu {
    display: none;
  }
  .mobile-menu {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20000;
    height: $top-bar-mobile-height;
    width: 10%;
    min-width: $top-bar-mobile-height;
    background: $primary;
    .hamburg { 
      display: block;
      width: $top-bar-mobile-height;
      height: $top-bar-mobile-height;
      position: relative; 
      margin-left: auto; margin-right: auto;
      transition: border-radius .5s;
    }
    .line { 
      position: absolute; 
      right:16px;
      height: 4px;
      width: 23px;
      background: $white; border-radius: 2px;
      display: block; 
      transition: 0.5s; 
      transform-origin: center; 
    }
    
    .line:nth-child(1) { top: 18px; }
    .line:nth-child(2) { top: 27px; }
    .line:nth-child(3) { top: 36px; }
    
    &.active .hamburg .line:nth-child(1){
      transform: translateY(9px) rotate(-45deg);
    }
    
    &.active .hamburg .line:nth-child(2){
      opacity:0;
    }
    
    &.active .hamburg .line:nth-child(3){
      transform: translateY(-9px) rotate(45deg);
    }
  }
}
