$black: #000000;
$white: #FFFFFF;
$gray-dark: #918A82;
$gray-darker: #929292;
$gray-medium: #A2A2A2;
$gray-lighter: #CDC7C0;
$gray-light: #dedace;
$gray-content-heading: #D9D4CE;


$primary: #D25C05;
$primary-light: #DA7D37;
$primary-dark: #A24A0A;
$secondary: #568A50;

$top-bar-height: 82px;
$panel-text-size: 14px;