$black: #000000;
$white: #FFFFFF;
$gray-dark: #918A82;
$gray-medium: #929292;
$gray-lighter: #A2A2A2;
$gray-light: #dedace;


$primary: #D25C05;
$primary-light: #DA7D37;
$primary-dark: #A24A0A;
$secondary: #568A50;