.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 50px;
  background-color: $primary;
  font-size: 14px;
  line-height: 24px;
  color: $gray-light;
}

.topbar-logo {
  height: 100%;
  float: left;
}

.topbar-logo-img {
  height: 100%;
}

.topbar-date {
  height: 100%;
  float: right;
}