
.lens-article .content-node.table .footers {
  padding: 0 20px;
  padding-top: 10px;
  font-size: 12px;
  background: #fff; }

/** Formatierung der Klasse "layout-tabelle" - Layout-Tabelle - , die nur zur Anordnung von Elementen verwendet wird **/
.layout-tabelle {
  border: 0;
  width: auto;
  margin-left: 0; }

.layout-tabelle td {
  border: 0;
  font-size: 1em;
  padding: 3px; }

/** Formatierung der Klasse "gitter-tabelle" - Gitter-Tabelle  **/
.gitter-tabelle {
  border: 1px solid lightgray;
  border-collapse: collapse;
  width: auto;
  margin-left: 0; }

.gitter-tabelle td {
  border: 1px solid lightgray;
  border-collapse: collapse;
  padding: 3px; }

/** Layout Daten-Tabelle Issue Nr. 58
 für heiUP auskommentiert, um mehrspaltigen Satz ohne Färbung zu ermöglichen, - neues default ist layout-tabelle, deshalb testweise wieder einkommentiert - 07.08. voe**/
.lens-article .content-node.table > .content {
  padding-left: 0; }

.daten-tabelle {
  border: 1px solid #f8f8f8;
  overflow-x: scroll; }

.daten-tabelle tr {
  vertical-align: top; }

.daten-tabelle tr:nth-child(odd) {
  background-color: #f8f8f8; }

.daten-tabelle tr:nth-child(odd) td:empty {
  background-color: #f8f8f8; }

.daten-tabelle td {
  border-right: 1px solid #f8f8f8;
  padding: 10px; }